// font 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Oswald:wght@300;400;500;600;700&display=swap');

// fonts
$base-font-size: 16px;
$base-font:'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;
$icon-size: 16px;

// color
$body-color: #444444;
$heading-color: #242f6c; 
$content-color: #404040;
$white: #fff;
$light: #e2f3ff;//
$black: #000;
$dark-gray: #080c0f;//
$small-black: #333;
$cyan: #bebebe;//

// bg color 
$secondary-bg: #0872b9;
$theme-bg : #f1f1f1;
$body-bg-color: #fff;
$section-bg-color-s1:#0872b9;



  



























