@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Oswald:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1260px;
}

.page-wrapper {
  position: relative;
}

html {
  font-size: 16pxpx;
}

:root {
  scroll-behavior: unset;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #fff;
  font-size: 16px;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  color: #444444;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 90px;
}

.main-btn {
  color: #242f6c;
  font-weight: 500;
  padding: 15px 30px;
  font-size: 16px;
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
  border: 5px solid #c8e8f5;
  border-radius: 30px;
  text-transform: capitalize;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
}
.main-btn:hover {
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
  color: #fff;
}
.main-btn.plan-btn01 {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(-90deg, rgb(201, 104, 255) 0%, rgb(97, 104, 243) 100%);
}
.main-btn.plan-btn01:hover {
  background: linear-gradient(-90deg, rgb(201, 104, 255) 0%, rgb(97, 104, 243) 100%);
  color: #fff;
}
.main-btn.plan-btn02 {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
  border: 5px solid #c5e8f1;
}
.main-btn.plan-btn02:hover {
  color: #fff;
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
}
.main-btn.plan-btn03 {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(-90deg, rgb(246, 211, 101) 0%, rgb(253, 160, 133) 100%);
  border: 5px solid #f5e5de;
}
.main-btn.plan-btn03:hover {
  color: #fff;
  background: linear-gradient(-90deg, rgb(246, 211, 101) 0%, rgb(253, 160, 133) 100%);
}
.main-btn.subs-btn {
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
  border: transparent;
  color: #fff;
  font-weight: 700;
  margin-left: -150px;
}
.main-btn.search-btn {
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
  border: transparent;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  line-height: 32px;
  margin-left: -150px;
  padding: 26px 42px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}

.section-title {
  text-align: center;
  margin-bottom: 65px;
}
.section-title h2 {
  color: #242f6c;
  font-family: "Now";
  font-size: 30px;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 700;
}
.section-title p {
  display: block;
  line-height: 27px;
}
.section-title p span {
  display: block;
}
.section-title .subscribe-form {
  margin-top: 25px;
  display: inline-block;
}
.section-title .subscribe-form input {
  width: 420px;
  padding: 25px 30px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.1);
  border: transparent;
  font-size: 16px;
  color: #444444;
  line-height: 27px;
}
.section-title .subscribe-form input:focus {
  outline: none;
}

.color-01 {
  background: linear-gradient(-99deg, rgb(255, 173, 111) 0%, rgb(255, 125, 144) 100%);
}

.color-02 {
  background: linear-gradient(-87deg, rgb(0, 222, 216) 0%, rgb(0, 167, 213) 100%);
}

.color-02up {
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
}

.color-03 {
  background: linear-gradient(-90deg, rgb(201, 104, 255) 0%, rgb(97, 104, 243) 100%);
}

.color-04 {
  background: linear-gradient(-90deg, rgb(251, 158, 217) 0%, rgb(252, 122, 182) 100%);
}

.color-05 {
  background: linear-gradient(-90deg, rgb(246, 211, 101) 0%, rgb(253, 160, 133) 100%);
}

.color-06 {
  background: linear-gradient(-87deg, rgb(115, 135, 253) 0%, rgb(46, 90, 221) 100%);
}

.footer-area {
  background: #f9fbfb;
}

.footer-content .footer-title {
  margin-bottom: 30px;
}
.footer-content .footer-title h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 27px;
  color: #242f6c;
}
.footer-content .footer-widget p {
  margin-bottom: 30px;
  font-weight: 500;
}
.footer-content .footer-widget .footer-social {
  display: flex;
}
.footer-content .footer-widget .footer-social li {
  margin-right: 30px;
}
.footer-content .footer-widget .footer-social li:last-child {
  margin: 0;
}
.footer-content .footer-widget .footer-social li a {
  color: #00c6d1;
  font-size: 16px;
  line-height: 27px;
}

.footer-widget .footer-menu li a {
  font-size: 16px;
  line-height: 35px;
  color: #444;
}
.footer-widget .sold-details {
  display: flex;
}
.footer-widget .sold-details li {
  margin-right: 25px;
}
.footer-widget .sold-details li:last-child {
  margin-right: 0px;
}
.footer-widget .sold-details li .item-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  display: block;
}
.footer-widget .sold-details li .item-sold {
  color: #03a4ad;
  font-size: 25px;
  line-height: 27px;
  font-weight: 600;
  display: block;
}

.menu {
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.menu .mobile-menu ul {
  display: flex;
  justify-content: end;
}
.menu .mobile-menu ul li {
  margin-left: 35px;
  padding: 60px 0;
  position: relative;
}
.menu .mobile-menu ul li a {
  color: #444444;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 600;
}
.menu .mobile-menu ul li:hover a {
  color: #00c6d1;
  font-weight: 600;
}
.menu .mobile-menu ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.menu .mobile-menu ul li .submenu {
  position: absolute;
  background: #f9fbfb;
  top: 100%;
  width: 200px;
  display: block;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}
.menu .mobile-menu ul li .submenu li {
  padding: 10px 0;
}
.menu .mobile-menu ul li .submenu li a {
  color: #444444;
  font-size: 16px;
  transition: 0.3s;
  font-weight: 600;
}
.menu .mobile-menu .checkbtn {
  font-size: 16px;
  color: #444444;
  line-height: 16px;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.menu .menu-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu .menu-right .menu-icon a {
  font-size: 20px;
  padding: 0 12px;
  color: #444444;
  font-weight: 400;
}
.menu .menu-right a.menu-btn {
  margin-left: 15px;
}
.menu .mobile-btn {
  padding: 5px;
  border: 2px solid #0872b9;
  display: none;
}
.menu .mobile-btn i {
  color: #00c6d1;
  font-size: 20px;
}
@media (max-width: 991px) {
  .menu .mobile-btn {
    display: block;
  }
}

@media (max-width: 991px) {
  .responsive-menu {
    position: absolute;
    left: 0;
    top: 100%;
    background: #000;
    padding: 20px;
    width: 100%;
    visibility: hidden;
    transition: all 0.4s ease;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  .responsive-menu.active {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
  }
  .responsive-menu .mobile-menu ul {
    display: block;
  }
  .responsive-menu .mobile-menu ul li {
    padding: 5px 0;
    margin-left: 0px;
  }
  .responsive-menu .mobile-menu ul li a {
    color: #fff;
  }
  .responsive-menu .mobile-menu ul li .submenu {
    position: static;
    background: #000;
    visibility: visible;
    opacity: 1;
    padding-left: 20px;
  }
  .responsive-menu .mobile-menu ul li .submenu li {
    padding: 10px 0;
  }
  .responsive-menu .mobile-menu ul li .submenu li a {
    color: #fff;
  }
}

.Hero {
  display: flex;
  align-items: center;
  min-height: 800px;
}
.Hero .hero-content .hero-content-left h2 {
  font-size: 50px;
  color: #242f6c;
  letter-spacing: 4px;
  line-height: 80px;
  font-weight: 400;
  margin-bottom: 30px;
}
.Hero .hero-content .hero-content-left h2 span {
  color: #00c6d1;
}
.Hero .hero-content .hero-content-left p {
  font-size: 20px;
  color: #444444;
  line-height: 32px;
  margin-bottom: 55px;
}
.Hero .hero-content .hero-content-left button {
  margin-right: 20px;
}
.Hero .hero-content h2 {
  font-size: 50px;
  line-height: 80px;
  font-weight: 600;
  color: #242f6c;
  margin-bottom: 5px;
}
.Hero .hero-content h2 span {
  color: #00c6d1;
}
.Hero .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: #444444;
  margin-bottom: 60px;
}
.Hero .hero-content .hero-form .form-control {
  padding: 25px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  width: 170px;
  font-size: 16px;
  color: #666;
  border: 1px solid #6cf5fd;
  background: #fff;
  display: inline;
  border-end-end-radius: 0px;
  border-top-right-radius: 0px;
}
.Hero .hero-content .hero-form .form-control:focus {
  box-shadow: none;
}
.Hero .hero-content .hero-form input {
  padding: 25px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 610px;
  font-size: 16px;
  color: #666;
  border: 1px solid #6cf5fd;
  background: #fff;
  margin-left: -5px;
}
.Hero .hero-content .hero-form input:focus {
  outline: 0px;
}
.Hero .hero-right {
  position: relative;
}
.Hero .hero-right .hero-right-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: -275px;
}

.service .single-service {
  padding: 50px 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px 0px rgba(68, 68, 68, 0.1);
  text-align: center;
}
.service .single-service .service-icon {
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0px rgba(68, 68, 68, 0.1);
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 50%;
}
.service .single-service .service-content h4 {
  font-size: 24px;
  color: #242f6c;
  margin-bottom: 30px;
}

.new-product {
  background: #f9fbfb;
}
.new-product .new-product-wrapper .single-product {
  padding: 25px 20px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px 0px rgba(82, 82, 82, 0.1);
  text-align: center;
}
.new-product .new-product-wrapper .single-product .new-product-img {
  border-radius: 50px;
  height: 90px;
  line-height: 90px;
  margin-bottom: 20px;
}
.new-product .new-product-wrapper .single-product .new-product-img img {
  display: inline;
  width: unset;
}
.new-product .new-product-wrapper .single-product .new-product-content p {
  color: #242f6c;
}
.new-product .new-product-wrapper .single-product-02 {
  border-radius: 0px;
  padding: 10px;
}
.new-product .new-product-wrapper .single-product-02 .new-product-img {
  border-radius: 0px;
  height: unset;
  margin-bottom: 15px;
}
.new-product .new-product-active .owl-nav {
  text-align: center;
}
.new-product .new-product-active .owl-nav button {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0px rgba(138, 138, 138, 0.1);
  background-color: rgb(255, 255, 255);
  border: transparent;
  margin: 0 10px;
  transition: 0.4s;
}
.new-product .new-product-active .owl-nav button i {
  font-size: 30px;
  color: #e3e3e3;
  display: block;
}
.new-product .new-product-active .owl-nav button:hover {
  background: linear-gradient(1deg, rgb(0, 167, 213) 0%, rgb(0, 222, 216) 100%);
}

.exclusiv-product .exclusive-producct-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.1);
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-img {
  position: relative;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-img img {
  width: 100%;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-img .exclusive-producct-img-tag {
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  border-radius: 5px;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-img .exclusive-producct-img-tag span {
  padding: 5px 10px;
  text-transform: capitalize;
  color: #fff;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content {
  padding: 30px;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content p a {
  font-size: 16px;
  color: #242f6c;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 15px;
  display: block;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content span {
  font-size: 14px;
  line-height: 27px;
  color: #444444;
  margin-bottom: 20px;
  display: block;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .content-icon {
  padding-bottom: 30px;
  border-bottom: 1px solid #ecebed;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .content-icon i {
  color: #fba12c;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .content-icon span {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0px;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .exclusive-price {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .exclusive-price h4 {
  font-size: 25px;
  color: #444444;
  line-height: 27px;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .exclusive-price ul {
  float: right;
  display: flex;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .exclusive-price ul li {
  margin-left: 10px;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .exclusive-price ul li a.prevew {
  text-decoration: none;
  font-size: 14px;
  color: #242f6c;
  line-height: 27px;
  padding: 10px 25px;
  border: 1px solid #d7d7d7;
  font-weight: 600;
}
.exclusiv-product .exclusive-producct-wrapper .exclusive-producct-content .exclusive-price ul li a.prevew-icon {
  height: 30px;
  line-height: 30px;
  width: 40px;
  text-align: center;
  border: 1px solid #48d6fc;
  display: block;
}

.counter {
  background: #f9fbfb;
}
.counter .single-count {
  padding: 0px 40px;
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.1);
  text-align: center;
}
.counter .single-count img {
  margin-bottom: 20px;
  height: 80px;
  width: 80px;
}
.counter .single-count h3 {
  font-size: 35px;
  font-weight: 700;
  color: #242f6c;
  line-height: 27px;
  margin-bottom: 15px;
  display: block;
}
.counter .single-count .odometer-formatting-mark {
  display: none;
}

.customer-satisfiction {
  display: flex;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.1);
}
.customer-satisfiction li {
  display: flex;
  text-align: center;
  padding: 55px 50px;
}
.customer-satisfiction li:first-child {
  background: #fbfbfb;
}
.customer-satisfiction li .satisfiction-img {
  margin-right: 18px;
}
.customer-satisfiction li .satisfiction-content p {
  line-height: 32px;
}
.customer-satisfiction li .satisfiction-content h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  color: rgb(0, 198, 209);
  text-transform: capitalize;
}
.customer-satisfiction li .satisfiction-content h3 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 198, 209);
  line-height: 32px;
  margin-bottom: 15px;
  display: block;
}
.customer-satisfiction li .satisfiction-content .odometer-formatting-mark {
  display: none;
}

.single-opinion {
  padding: 0 50px;
  padding-top: 65px;
  padding-bottom: 45px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  position: relative;
}
.single-opinion .opinion-content h4 {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 10px;
  color: #242f6c;
}
.single-opinion .opinion-content span {
  font-size: 15px;
  line-height: 27px;
  color: #444444;
  margin-bottom: 30px;
  display: block;
}
.single-opinion .opinion-icon {
  position: absolute;
  top: 42px;
  right: 42px;
}
.single-opinion .opinion-img {
  position: absolute;
  top: -45px;
  left: 50px;
  padding: 8px;
  background: white;
  border-radius: 50%;
  border: 1px solid #ebebeb;
}

.pricing-plan {
  background: #f9fbfb;
}

.single-plan {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.1);
}
.single-plan .plan-img {
  position: relative;
}
.single-plan .plan-img .p01 {
  width: 100%;
}
.single-plan .plan-img .plan-icon {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: unset;
}
.single-plan .plan-img .plan-icon h4 {
  font-size: 25px;
  line-height: 27px;
  color: white;
  margin-top: 25px;
}
.single-plan .plan-content {
  padding: 0 40px;
  padding-bottom: 45px;
}
.single-plan .plan-content h2 {
  font-size: 70px;
  color: #242f6c;
  display: inline-block;
  margin-top: -50px;
  margin-bottom: 40px;
}
.single-plan .plan-content h2 span.dollar {
  font-size: 24px;
}
.single-plan .plan-content span.month {
  font-size: 16px;
  line-height: 27px;
  color: #8268f7;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.single-plan .plan-content .plan-option {
  margin-bottom: 30px;
  display: block;
}
.single-plan .plan-content .plan-option li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  margin: 0 -40px;
}
.single-plan .plan-content .plan-option li p {
  margin-left: 30px;
}
.single-plan .plan-content .plan-option li::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #8268f7;
}
.single-plan .plan-content .plan-option li:nth-child(odd) {
  background: #f9f9f9;
}
.single-plan .plan-content .plan-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-plan .plan-content .plan-bottom .plan-btn a {
  display: inline-block;
}

.news-area .single-news {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.1);
}
.news-area .single-news .news-img {
  position: relative;
}
.news-area .single-news .news-img img {
  width: 100%;
}
.news-area .single-news .news-img .news-tag {
  position: absolute;
  left: 15px;
  top: 15px;
  display: inline-block;
  border-radius: 5px;
  border: 5px solid #edf0f3;
}
.news-area .single-news .news-img .news-tag span {
  padding: 5px 10px;
  text-transform: capitalize;
  color: #fff;
}
.news-area .single-news .news-content {
  padding: 30px;
}
.news-area .single-news .news-content h4 a {
  font-size: 16px;
  color: #242f6c;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 15px;
  display: block;
}
.news-area .single-news .news-content ul.news-writer-details {
  display: flex;
  align-items: center;
}
.news-area .single-news .news-content ul.news-writer-details li {
  margin-right: 14px;
}
.news-area .single-news .news-content ul.news-writer-details li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  color: #444444;
}/*# sourceMappingURL=style.css.map */