.Hero {
   display: flex;
   align-items: center;
  min-height: 800px;
    .hero-content { 
        .hero-content-left { 
            h2 { 
                font-size: 50px;
                color: $heading-color;
                letter-spacing: 4px;
                line-height: 80px;
                font-weight: 400;
                margin-bottom: 30px;
                span {
                    color: #00c6d1;
                }
            }
            p { 
                font-size: 20px;
                color: $body-color;
                line-height: 32px;
                margin-bottom: 55px;
            }
            button { 
                margin-right: 20px;
            }
        }
        // for index-02 page start //
        h2 { 
            font-size: 50px;
            line-height: 80px;
            font-weight: 600;
            color: $heading-color;
            margin-bottom: 5px;
            span {
                color: #00c6d1;
            }
        }
        .color-white {
            color: #fff;
        }
        p {
            font-size: 20px;
            line-height: 32px;
            color: #444444;
            margin-bottom: 60px;
        }
        .hero-form {
            display: flex;
            justify-content: center;
            .form-control {
                padding: 25px;
                border-top-left-radius: 45px;
                border-bottom-left-radius: 45px;
                width: 170px;
                font-size: 16px;
                color: #666;
                border: 1px solid #6cf5fd;
                background: #fff;
                display: inline;
                border-end-end-radius: 0px;
                border-top-right-radius: 0px;
                &:focus {
                    box-shadow: none;
                }       
            }
            input {
                padding: 25px;
                border-top-right-radius: 45px;
                border-bottom-right-radius: 45px;
                width: 610px;
                font-size: 16px;
                color: #666;
                border: 1px solid #6cf5fd;
                background: #fff;
                margin-left: -5px;
                &:focus {
                    outline: 0px;
                }
            }
        }
    }
    .hero-right {
     position: relative;
     .hero-right-img {         
        position: absolute;
        top:0;
        left: 0;
        margin-right: -275px;
     }
    }
}

// for index-03 start 

.Hero {
    .hero-page03 {
        h2 { 
            color: $white
        }
        p {
            color: #cfcfcf;
        }
    }
}

// for about page 
.about-hero {
    display: flex;
    align-items: center;
    min-height: 335px; 
    .hero-page03{
        h2 {
            font-size: 40px;
            color: $heading-color;
            font-weight: 600;
           }
           p {
            color: #666666;
            font-size: 16px;
           }        
    } 
}







